ProyectoBancoDeAlimentos/ProyectoBancoDeAlimentos/frontend/node_modules/.cache/default-development/index.pack.old
ProyectoBancoDeAlimentos/ProyectoBancoDeAlimentos/frontend/node_modules/.cache/default-development/index.pack
ProyectoBancoDeAlimentos/ProyectoBancoDeAlimentos/frontend/node_modules/.cache/.eslintcache
