.cupones {
    height: 700px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    border-radius: 2rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.titulo{
    text-align: center;
}

.titulo_texto{
    color: #f0833e;
    margin-bottom: 0.2rem;
    font-size: 3.1rem;
}

.linea{
    border: 1px solid #f0833e; 
    width: 70%; 
    margin: 0 auto;
}

.titulos_secundarios{
    display: flex;
    justify-content: center;
    gap: 100px;
    font-size: 1.5rem;
}

.titulos_secundarios p:hover{
    text-decoration: underline;
}

.cupones_reporte{
    height: 500px;
    width: 850px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 2rem;
    background: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    border: 2px solid rgba(0,0,0,0.1);
}

.lista_reportes{
    display: flex;
    flex-wrap: wrap; /* Permite que los cupones pasen a la siguiente fila */
    justify-content: flex-start; /* Ajusta a la izquierda */
    align-items: flex-start;
    width: 100%;
    padding: 20px;
    gap: 20px 30px; /* Espacio vertical y horizontal entre cupones */
    max-height: 460px; /* Ajusta para que quede scroll dentro del contenedor */
    overflow-y: auto; /* Scroll vertical si hay muchos cupones */
}

.cupones_categoria{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cupones_categoria button{
    border: 2px solid transparent;
    height: 120px;
    width: 200px;
    border-radius: 1rem;
    text-align: left;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding-left: 10%;
}

.cupones_categoria button:hover{
    border-radius: 4%;
    border-color: #f0833e;
}

.boton_cupon .texto_cupon1{
    color: #F03E3E;
}

.boton_cupon .texto_cupon2{
    color: #80838A;
}

.lista_reportes::-webkit-scrollbar {
    width: 8px;
}

.lista_reportes::-webkit-scrollbar-thumb {
    background-color: rgba(240, 131, 62, 0.7);
    border-radius: 4px;
}








