.header {
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #1f1f1f 50%,
    #1f1f1f 100%
  );
  padding: 2px 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  align-items: center;
  height: 100px;
  width: 100px;
}
